// palettes

$brown-palette: (
  50: #aaa399,
  100: #9a9185,
  200: #8a8073,
  300: #7a6f60,
  400: #6b5f4e,
  500: #5c4f3d,
  600: #4f4434,
  700: #42382b,
  800: #362e22,
  900: #2a231a,
);

$beige-palette: (
  50: #f8f1d9,
  100: #f7eed2,
  200: #f5ebca,
  300: #f4e8c2,
  400: #f2e5bb,
  500: #F1E2B3,
  600: #d2c49b,
  700: #b3a884,
  800: #958c6e,
  900: #797158,
);

// colors

$black-color: #000000;
$chocolate-chili-color: #b03a2e;
$hyper-blue-color: #005B96;
$ruby-red-color: #9b111e;
$white-color: #FFFFFF;

// borders

$default-border-color: #{map-get($brown-palette, 500)};
