<!-- get all active ordos -->
{{ $ordos := where (where .Page.Sections "Type" "ordos") ".Params.status" "active" }}

{{ if gt (len $ordos) 0 }}
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Founding</th>
    <th>Contract</th>
    <th>By Decree</th>
  </tr>
  </thead>

  <tbody>
  {{ range $ordos }}
  {{ $decreedByURL := printf "decrees/%s" .Params.founded_by | relURL }}
  <tr>
    <td>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </td>

    <td>{{ .Params.founding }}</td>

    <td>{{ .Params.contract }}</td>

    <td>
      <a href="{{ $decreedByURL }}">
        {{ .Params.founded_by }}
      </a>
    </td>
  </tr>
  {{ end }}
  </tbody>
</table>
{{ else }}
<p>No Ordos found.</p>
{{ end }}
