<!-- get all inactive ordos -->
{{ $ordos := where (where .Page.Sections "Type" "ordos") ".Params.status" "inactive" }}

{{ if gt (len $ordos) 0 }}
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Founding</th>
    <th>Contract</th>
    <th>By Decree</th>
  </tr>
  </thead>

  <tbody>
  {{ range $ordos }}
  <tr>
    <td>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </td>

    <td>{{ .Params.founding }}</td>

    <td>{{ .Params.contract }}</td>

    <td>{{ .Params.decree }}</td>
  </tr>
  {{ end }}
  </tbody>
</table>
{{ else }}
<p>No inactive Ordos found.</p>
{{ end }}
